
{{model.title}} {{model.first_name}} {{model.surname}}

<h3>Active Placements</h3>
<ul>
  {{#each activePlacements as |placement|}}
    <li>{{placement.assignment.title}}</li>
  {{/each}}
</ul>

<h3>Completed Placements</h3>
<ul>
  {{#each completedPlacements as |placement|}}
    <li>{{placement.assignment.title}}</li>
  {{/each}}
</ul>